{% extends '_base.html' %}

{% block title %}Car models{% endblock title %}

{% block content %}

  <h1>Car models</h1>

  <form class="form-inline mt-2 mt-md-0" action="{% url 'car_model_search_results' %}" method="get">
    <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
  </form>

  <br>

    <table class="table">
      <tr><th>ID</th><th>Car model</th><th>Brand</th><th>Price</th></tr>
      {% for c in car_models %}
        <tr>
          <td>{{ c.id }}</td>
          <td><a href="{%  url "car_model_detail" c.id %}">{{ c.name }}</a></td>
          <td>{{ c.brand }}</td>
          <td>${{ c.price }}</td>
        </tr>
      {% endfor %}
    </table>

{% endblock content %}